<%
const Moment = require('moment');

// arguments
var productModel;
var twitterSearchWords;
%>

<tr>
    <th>タイトル</th>
    <td><%= productModel.getProductName() %></td>
</tr>
<tr>
    <th>カテゴリ</th>
    <td>
        <a href="/ranking/">
            <%= productModel.getBelongedProductTypeBundleJaName() %>
        </a>
    </td>
</tr>
<tr>
    <th>公開日</th>
    <td><%= new Moment(productModel.releaseDate).format("YYYY年MM月DD日") %></td>
</tr>
