<%
// arguments
var productModel;
var twitterSearchWords;
%>

<tr>
    <th>サービス名</th>
    <td><%= productModel.getProductName() %></td>
</tr>
<tr>
    <th>カテゴリ</th>
    <td>
        <a href="/ranking/">
            <%= productModel.getBelongedProductTypeBundleJaName() %>
        </a>
    </td>
</tr>
