<%
// var imageUrl = productModel.ogpImageUrl || "https://blinky.nemui.org/shot/large?" + productModel.publicUrl;
var imageUrl = productModel.ogpImageUrl || "http://capture.heartrails.com/300x300?" + productModel.publicUrl;
%>

<% if (linkTag) { %>
<a href="<%= productModel.publicUrl %>">
    <img src="<%= imageUrl %>">
</a>
<% } else { %>
<img src="<%= imageUrl %>">
<% } %>
