<% if (linkTag) { %>
    <a href="<%= productModel.affiliateItemUrl %>">
        <img src="<%= productModel.imageUrlBase %>">
    </a>
<% } else { %>
    <img src="<%= productModel.imageUrlBase %>">
<% } %>

