<%
const appRoot = require('app-root-path');
const __ = require('underscore');
const CONST = require(appRoot + '/lib/const.js');

// arguments
var tweetModels;

var initialDisplayTweetModels = __.first(tweetModels, CONST.INITIAL_DISPLAY_TWEET_NUM_IN_RANKING);
var hasMoreTweets = CONST.INITIAL_DISPLAY_TWEET_NUM_IN_RANKING <= initialDisplayTweetModels.length;
var dataAttrStr = __.map(tweetModels, function (tweetModel) {
    return '["' + tweetModel.screenName + '","' + tweetModel.id + '"]';
}).join(',');
%>

<div class="twitter-reaction-loading">
    <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
</div>
<div class="tweet-reference-block">
    <div class="grad-wrap">

        <% if (hasMoreTweets) { %>
            <button class="btn read-more-button"
                    type="button"
                    data-read-more-tweet-ids="[<%= dataAttrStr %>]"
                    data-is-open="false"
                    data-is-ever-opened="false"
            >
                <div class="relative">
                    <p class="caption-btn-text">
                        続きを読む
                    </p>
                    <i class="fas fa-angle-down fa-lg accordion-icon"></i>
                </div>
            </button>
        <% } %>

        <% if (initialDisplayTweetModels.length) { %>
            <div class="grad-item" data-is-first-render='true'>
                <% if (false) { %>
                    <div class="book-caption-accordion">
                        <div>
                                                <span class="btn read-book-caption-button">
                                                    <div class="relative">
                                                        <p class="caption-btn-text">あらすじ</p>
                                                        <i class="fas fa-angle-down fa-lg accordion-icon"></i>
                                                    </div>
                                                </span>
                            <div class="book-caption">
                                <%= productData.bookCaptionModel.caption; %>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="twitter-reaction-area" data-is-first-load='true'>

                </div>
            </div>

        <% } else { %>
            <div class="wip-text d-flex align-items-center">
                情報を収集中です。<br>
                しばらく経ってから再度ご確認ください。
            </div>
        <% } %>

    </div>
</div>
