<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/faq.css" rel="stylesheet">

<html>
<head>
    <title>FAQ</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="今ネットでバズっている本や漫画、小説、ゲームなどの商品や、宿泊・旅行予約などのWebサービスを話題性の高い順に毎日ランキング形式で紹介します。">

    <script data-ad-client="ca-pub-8140865713225785" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>

<div id="content" class="container-fluid p-3">
    <h1 class="faq-header">
        FAQ
    </h1>

    <h3 class="mid-header">
        BuzzRankingとは
    </h3>
    <p>
        インターネット上での注目度を基に、商品やサービスをランキング形式で紹介する一風変わった総合ランキングサイトです。
        新商品などのデータ収集、注目度の測定は365日24時間体制で行われ、これを基に全てのランキングが毎日更新されます。
    </p>

    <h3 class="mid-header" id="buzz">
        Buzz
    </h3>
    <p>
        商品の注目度の指標です。<br>
        その商品に関連したツイート数を基にして算出された注目度の指標を、インターネット上で話題になるさまを表す言葉(バズる)にちなんでBuzzと定義しています。<br>
        当サービスにおける全てのランキングは、Buzz基準で順位が決定されます。<br>
        Buzzの値は、以下のルールに従って計算されています。

    <ul>
        <li>
            ツイートの内容に当サービスで扱う商品の名称又は関連するワードが含まれているとき、その商品に最大1.0Buzzが加算されます。
        </li>
        <li>
            ツイートされた時点から時間が経てば経つほどそのツイートのBuzz寄与度は線形的に減少し、ツイートされた時点から1週間で+0Buzzとなります。
        </li>
        <li>
            同一Twitterアカウントによる同一商品に対する複数ツイートは、最新の1ツイートのみBuzzの計算に考慮されます。
        </li>
        <li>
            例え商品に関連するツイートのリツイートであっても、リツイートは全て集計対象から除外されます。(※商品に関連するリプライ, 引用ツイートは集計対象となります。)
        </li>
        <li>
            日本語以外のツイートは集計から除外されます。
        </li>
        <li>
            集計精度を保つため、Botと、一部クライアントからのツイートは集計対象から除外されます。
        </li>
    </ul>

    </p>

    <h3 class="mid-header">
        ツイートの収集方法
    </h3>
    <p>
        <a href="https://developer.twitter.com/content/developer-twitter/ja.html" target="_blank">
            Twitter API
        </a>
        を用いたスクリプトで自動的に収集しています。<br>
        基本的には商品名によって本文検索を行うことにより商品に関連するツイートを収集していますが、商品によっては略名や別名などが多数存在するケースがあることを考慮し、多数のワードで収集されることもあります。<br>
        収集に用いられるワードに関しては、各商品の詳細ページの検索ワード欄から確認することができます。<br>
    </p>

    <h3 class="mid-header">
        Buzzの集計頻度が商品によって差異がある理由
    </h3>
    <p>
        商品のBuzz集計処理は常に裏で実行されています。<br>
        ただし、数万を超える全商品に対して平等に毎日Buzz集計を行うだけのリソースを確保することは難しいため、各商品に対して集計の優先度が設定されています。<br>
        集計の優先度は以下のルールに従って決定されます。
    <ul>
        <li>
            まだ過去に一度も集計されたことがない商品は、最大の優先度が設定されます。
        </li>
        <li>
            過去数時間以内に集計された商品は、Buzzの値に関わらず最低の優先度が設定されます。
        </li>
        <li>
            前回の集計で算出されたBuzzの値が高ければ高いほど、かつ前回の集計から時間が経っていれば経っているほど高い優先度が設定されます。
        </li>
    </ul>

    </p>

    <h3 class="mid-header">
        運営者情報
    </h3>
    <p>
        <a href="/profile">運営者情報ページはこちら</a>
    </p>

    <h3 class="mid-header">
        プライバシーポリシー
    </h3>
    <p>
        <a href="/privacy_policy">プライバシーポリシーページはこちら</a>
    </p>

    <h3 class="mid-header">
        お問い合わせ
    </h3>
    <p>
        <a href="/profile">運営者情報ページはこちら</a>
    </p>
</div>

<%- include(appRoot + '/public/ad/adsense/horizontal.html') %>

<%- include(appRoot + '/views/footer.ejs') %>

<script src="/js/compressed/index.min.js" type="text/javascript"></script>
</body>
</html>
