<footer id="footer" class="page-footer font-smallx pt-3 mt-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row pb-md-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold text-align-center footer-content-title">BuzzRankingとは？</h5>
                <p>
                    BuzzRankingは、ネットでの注目度順に商品やサービスをランキング形式で紹介する一風変わった総合ランキングサイトです。<br>
                    注目度に応じて高くなる独自に定義した指標 "Buzz" を基にランク付けを行っています。<br>
                </p>
                <p>
                    新商品やツイートなどのデータ収集、注目度の測定は365日24時間体制で行われ、これを基に全てのランキングが毎日更新されます。
                    お気づきの点などあれば、お気軽に運営者情報に記載されているEmail又はBuzzRanking公式ツイッターアカウントまでお願いいたします。
                </p>
                <p>

                    注目度測定の仕組みなどに関しての詳細や、FAQ、プライバシーポリシーに関しましては
                    <a href="#" data-toggle="modal" data-target="#desc-modal">
                        こちら
                    </a>
                    をご覧ください。
                </p>

                <div class="rakuten-dev-credit">
                    <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
                    <a href="https://webservice.rakuten.co.jp/" target="_blank">Supported by Rakuten Developers</a>
                    <!-- Rakuten Web Services Attribution Snippet TO HERE -->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr class="clearfix w-100 d-md-none">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold text-align-center footer-content-title">運営者情報</h5>
                <div class="row">
                    <div class="col-3 text-align-center">
                        <h6>運営者</h6>
                    </div>
                    <div class="col-9">
                        Yukapero
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-align-center">
                        <h6>Email</h6>
                    </div>
                    <div class="col-9">
                        buzzranking.net@gmail.com
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2019 BuzzRanking
    </div>
</footer>
