<footer id="footer" class="page-footer font-smallx pt-3 mt-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row pb-md-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold text-align-center footer-content-title">BuzzRankingとは？</h5>
                <p>
                    BuzzRankingは、今ネットで話題性の高い商品やサービスをランキング形式で紹介する完全無料のWebサービスです。
                    新商品やツイートなどのデータ収集、注目度の測定は365日24時間体制で行われ、これを基に全てのランキングが毎日更新されます。
                </p>
                <p>
                    インターネット上では日々多くの人々によって、自分の関心のある物事について情報の検索/発信が行われています。
                    その関心が集まっている対象は人々を引き付ける魅力があるということから、価値のあるものの可能性が高いと考えられます。
                    Googleの検索結果におけるページの表示順の仕組みや、数多くのSNSが導入しているいいね機能、Amazonの売れ筋ランキングなどは、全て人々の関心の集まり度合いを重要な指標としてシステムの根幹をなすものとしています。
                    BuzzRankingでは、この真理を "話題にしている人数が多い商品やサービスほど価値が高い"
                    と解釈して生まれた、今注目されている（バズっている）商品やサービスを紹介する一風変わった総合ランキングサイトです。
                </p>

                <div class="rakuten-dev-credit">
                    <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
                    <a href="https://webservice.rakuten.co.jp/" target="_blank">Supported by Rakuten Developers</a>
                    <!-- Rakuten Web Services Attribution Snippet TO HERE -->
                </div>

                <div>Logo made with <a href="/en/" title="Free Online Logo Maker">DesignEvo</a></div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr class="clearfix w-100 d-md-none">

        <div class="row">
            <div class="col-md-6 text-align-center privacy-policy">
                <h5 class="text-uppercase font-weight-bold text-align-center footer-content-title">プライバシーポリシー</h5>

                <h6>広告</h6>
                <p class="text-align-left">
                    当サービスでは、第三者配信の広告サービスを利用しています。
                    このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サービスや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール
                    アドレス、電話番号は含まれません) を使用することがあります。
                </p>

                <h6>アクセス解析</h6>
                <p class="text-align-left">
                    当サービスでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
                    Googleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
                    このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
                    この機能はCookieを無効にすることで収集を拒否することができます。
                    規約の詳細に関しましては次のリンクをご参照ください。
                    <a href="https://www.google.com/analytics/terms/jp.html">https://www.google.com/analytics/terms/jp.html</a>
                </p>

                <h6>免責事項</h6>
                <p class="text-align-left">
                    当サービスに掲載する情報に関しては正しいものを提供するよう務めておりますが、提供している情報、リンク先などにより、いかなる損失や損害などの被害が発生しても責任を追いかねますのでご了承ください。
                </p>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-6">
                <h5 class="text-uppercase font-weight-bold text-align-center footer-content-title">運営者情報</h5>
                <div class="row">
                    <div class="col-3 text-align-center">
                        <h6>運営者</h6>
                    </div>
                    <div class="col-9">
                        Yukapero
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-align-center">
                        <h6>Email</h6>
                    </div>
                    <div class="col-9">
                        buzzranking.net@gmail.com
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-align-center">
                        <h6>Twitter</h6>
                    </div>
                    <div class="col-9">
                        <a href="/">@buzzranking</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2019 BuzzRanking
    </div>
</footer>
