<!--<footer id="footer" class="footer page-footer font-smallx d-flex align-items-end">-->
    <!--<div class="footer-copyright text-align-center">-->
        <!--© 2019 BuzzRanking-->
    <!--</div>-->
<!--</footer>-->

<!--<footer class="bg-danger">-->
<footer id="footer" class="footer">
    <ul class="footer-link-list list-inline text-center">
        <li class="list-inline-item">
            <a href="/sitemap" class="footer-link-text">サイトマップ</a>
        </li>
        <li class="list-inline-item">
            <a href="/privacy_policy" class="footer-link-text">プライバシーポリシー</a>
        </li>
        <li class="list-inline-item">
            <a href="/profile" class="footer-link-text">運営者情報</a>
        </li>
        <li class="list-inline-item">
            <a href="/faq" class="footer-link-text">FAQ</a>
        </li>
    </ul>

    <div class="text-white text-center pb-1">
        <!--<p class="h2">Your Title</p>-->
        <small class="footer-link-text">&copy;2019 BuzzRanking</small>
    </div>

</footer>
