<link rel="icon" href="/favicon.ico">

<nav id="header" class="navbar navbar-expand-lg navbar-light" style="flex-direction: column;">
    <a class="navbar-brand" href="/">
        <span class="logo-text">
            BuzzRanking
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse common-nav" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="nav-sitemap" class="nav-item common-nav-item">
                <a class="nav-link" href="/sitemap">
                    <i class="fas fa-sitemap"></i>
                    サイトマップ
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="nav-all-ranking" class="nav-item">
                <a class="nav-link" href="/ranking/all">
                    <i class="fas fa-globe"></i>
                    総合
                </a>
            </li>
            <li id="nav-book-ranking" class="nav-item">
                <a class="nav-link" href="/ranking/book">
                    <i class="fas fa-book-reader"></i>
                    本・書籍<span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="nav-game-ranking" class="nav-item">
                <a class="nav-link" href="/ranking/game">
                    <i class="fas fa-gamepad"></i>
                    ゲーム
                </a>
            </li>
            <li id="nav-inn-ranking" class="nav-item">
                <a class="nav-link" href="/ranking/inn">
                    <i class="fas fa-hotel"></i>
                    宿泊・旅行予約
                </a>
            </li>
        </ul>
    </div>

    <!-- About the Buzzranking icon -->
    <div id="nav-about" class="nav-item">
        <a class="nav-link about-icon">
            <i class="far fa-question-circle"></i>
        </a>
    </div>

</nav>

<p id="PageTopBtn"><a href="#wrap"><i class="fas fa-angle-double-up"></i></a></p>
