<!DOCTYPE html>
<link href="/css/common.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<html>
<head>
    <title>【毎日更新】BuzzRanking 今バズってる話題の商品・サービスをランキング形式で紹介！</title>
</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>

<h1>今、本当に注目されているものランキング</h1>

<div class="container">
    BuzzRankingはTwitterにおいて、あるトピックに関して<span style="font-weight: bold;">話題にしているユーザ数を集計</span>することによって、
    今本当にバズっている(注目されている)商品やサービスを、<span style="font-weight: bold;">一切の恣意的な情報操作無くランキング形式で紹介</span>するサービスです。
    <br><br>
    データ収集・集計は<span style="font-weight: bold; ">毎日</span>行われ、即時ランキングに反映されるため、常に最新のトレンドを追うことができます。
    <br><br>
    集計においてはより正確な注目度を測定するため、集計対象からBOTユーザーや宣伝のみを目的としたツイートを除外するなどの工夫を施しています。

    <div class="contacts">
        <h5>お問い合わせ・ご要望</h5>
        <ul>
            <li>E-mail: buzzranking.net@gmail.com</li>
        </ul>
    </div>
</div>

<%- include(appRoot + '/views/footer.ejs') %>

</body>
</html>

<script src="/js/compressed/index.min.js" type="text/javascript"></script>

<style>
    h1 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .container {
        max-width: 35%;
        min-width: 300px;
    }

    .contacts {
        margin-top: 3rem;
    }

    .calc-policy {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
