<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">

<html>
<head>
    <title>運営者情報</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="今ネットでバズっている本や漫画、小説、ゲームなどの商品や、宿泊・旅行予約などのWebサービスを話題性の高い順に毎日ランキング形式で紹介します。">

    <script data-ad-client="ca-pub-8140865713225785" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>

<div id="content" class="container-fluid p-3">
    <h1 class="faq-header">運営者情報</h1>

    <h3 class="mid-header">
        運営者
    </h3>
    <p>
        Yukapero
    </p>

    <h3 class="mid-header">
        お問い合わせ
    </h3>
    <p>
        buzzranking.net@gmail.com
    </p>
</div>

<%- include(appRoot + '/views/footer.ejs') %>

<script src="/js/compressed/index.min.js" type="text/javascript"></script>
</body>
</html>
