<div class="sub-content-div">
    <div class="sub-content-title">
        <div class="sub-content-title-icon">
            <i class="fab fa-twitter"></i>
        </div>
        公式アカウント(近日始動予定)
    </div>
    <div class="p-3">
        1日に1回、最新のバズ情報を1ツイートに<span class="highlighted-text">超凝縮</span>して近日中に発信開始予定！お手軽に最新の流行を掴みたい方はフォローをオススメします。

        <a class="twitter-follor-button"
           href="https://twitter.com/intent/follow?screen_name=buzzranking_net">
            <i class="fab fa-twitter"></i>
            <span>フォローする</span>
        </a>
<!--        <a class="twitter-timeline" data-lang="ja" data-height="400" data-chrome="noheader noborders"-->
<!--           href="https://twitter.com/yukapero_com?ref_src=twsrc%5Etfw">Tweets by yukapero_com</a>-->
    </div>
</div>
