.gnav {
    flex-direction: column !important;
}

/* -------------- for debug -------------- */
/*.tweet-references {*/
/*background-color: darkgreen;*/
/*}*/
/*.product-info {*/
/*background-color: blue;*/
/*}*/

.product-block {
    /*background-color: lightgray;*/
}

/* ---------------------------------------- */

.container-fluid {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

/* md */
@media (min-width: 0px) {
    .tweet-count-text {
        /*font-size: 3rem;*/
        font-size: 4vw;
    }

    .tweet-count-suffix {
        /*font-size: 3rem;*/
        font-size: 1vw;
    }

    .rank-img-area {
        font-size: 5vw;
    }

    .rank-text {
        font-size: 4vw;
    }

    .rank-num {
        font-size: 10vw;
    }

    .rank-crown-img {
        height: 3rem;
        width: auto;
    }
}

/* lg */
@media (min-width: 992px) {
    .tweet-count-text {
        /*font-size: 3rem;*/
        font-size: 2vw;
    }

    .tweet-count-suffix {
        /*font-size: 3rem;*/
        font-size: 0.5vw;
    }

    .rank-img-area {
        font-size: 3vw;
    }

    .rank-text {
        font-size: 2vw;
    }

    .rank-num {
        font-size: 4vw;
    }

    .rank-crown-img {
        height: 4rem;
        width: auto;
    }
}

/*--------------------*/
.sitename {
    margin: 15px 0 15px;
}

.sitename a {
    font-size: 1.6em;
    color: inherit;
}

span {
    display: inline-block;
}

/*-------------------*/

.product-info * .col-6 {
    padding: 0px !important;
}

.absolute-position {
    position: absolute !important;
}

.best-3-rank-num {
    color: red;
    text-shadow: 1px 1px 0 orangered,
    -1px -1px 0 orangered,
    -1px 1px 0 orangered,
    1px -1px 0 orangered,
    0px 1px 0 orangered,
    0 -1px 0 orangered,
    -1px 0 0 orangered,
    1px 0 0 orangered;
}

.rank-text {
    letter-spacing: -3px;
    line-height: initial;
    white-space: nowrap;
    padding: 0px !important;
}

.rank-num {
    /*font-family: 'arial black';*/
    font-weight: bold;
}

/*.rank-crown-img {*/
/*position: relative;*/
/*!*margin: 0px;*!*/
/*height: 100%;*/
/*width: 100%;*/
/*max-width: 120px;*/

/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*margin: auto;*/
/*}*/

.lum-lightbox {
    z-index: 4;
}

.twitter-reaction-loading {
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score-row {
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.product-block {
    top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.product-info {
    top: 2vw;
    text-align: center;
}

.rank-area {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-title {
    width: 80%;
    margin-bottom: 0.5rem;
    position: relative;
    /*font-family: serif;*/
    font-weight: bold;
    font-size: 1.0em;
}

.sale-date {
    font-size: 0.8em;
}

.product-title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 0.4rem;
    /*background-color: #E4F9E9;*/
    background-color: #ffc85c;
}

.tweet-count-area {
    line-height: 100%;
    padding-left: 0px !important;
}

.rank-img-area {
    font-family: 'Courier';
    font-weight: bold;
    padding-right: 0px !important;
    color: #ae794c;
}

.tweet-count-text {
    /*font-size: 3rem;*/
    /*font-size: 2vw;*/
}

.tweet-references {
    padding: 0px !important;
    overflow-x: hidden;
    height: 0px;
}

.twitter-tweet {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 2px !important;
    min-width: initial !important;
    /*border-radius: 0 !important;*/
    /*box-shadow: none !important;*/
    /*max-width: initial !important;*/

    /*backgrounf: #fff;*/
    /*margin-top: 1px !important;*/
    /*margin-bottom: 1px !important;*/
}

.twitter-tweet-error {
    margin: 0px;
}

.sample-tweet {
    width: 100%;
}

.book-title {
    width: 100%;
    font-size: 30px;
}

.book-img {
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.6);
    max-height: 200px;
}

.EmbeddedTweet {
    max-width: 30px !important;
}

/* ------------------ readmore -------------------------- */
.mosaic-tweet-list-img {
    width: 100%;
}

.product-row-block {
    /*margin-bottom: -15px;*/
}

.product-col {
    padding-right: 5px !important;
}

.grad-trigger {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: .2em 0;
    cursor: pointer;
    transition: .2s ease;

    display: table;
    font-size: 1.1em;
    color: #ff8700;
    background-color: rgba(255,255,255,0.1);
    border: solid 3px #ff8700;
    border-radius: 8px;
    font-weight: bold;
}


.read-more-adjust {
    bottom: initial;
}

.grad-trigger:hover {
    color: white;
    background-color: #ff5200;
}

.grad-wrap {
    /*display: none;*/
    visibility: hidden;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.grad-wrap + .grad-wrap {
    margin-top: 40px;
}

.grad-item {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

.grad-item.is-hide {
    height: 1vw; /*隠した後の高さ*/
}

.grad-item p + p {
    margin-top: 1em;
}

.grad-item::before {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4rem; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
}

.remove-gradient::before {
    width: 0px;
    height: 0px;
    background: none;
}

.grad-trigger.is-show + .grad-item::before {
    display: none;
}

.ad-banner * img {
    width: 100%;
    height: 100%;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.6);
}

.text-shadow {
    text-shadow: black 2px 0px, black -2px 0px,
    black 0px -2px, black 0px 2px,
    black 2px 2px, black -2px 2px,
    black 2px -2px, black -2px -2px,
    black 1px 2px, black -1px 2px,
    black 1px -2px, black -1px -2px,
    black 2px 1px, black -2px 1px,
    black 2px -1px, black -2px -1px;
}

.last-updated-at {
    font-weight: bold;
    font-size: 1.2em;
}

.text-align-left {
    text-align: left;
}

.af-link-rakuten-logo {
}

.af-link-button {
    border: 1px solid lightgray;
    padding: 5%;
    margin: 3%;
}

.af-link-button:hover {
    box-shadow: initial;
    background-color: #dadada;
}

.buy-link-area {
    position: relative;
    margin-top: 1.2em;
    padding: 0.1em 0.1em;
    border: solid 3px #ff8700;
    border-radius: 8px;
    max-width: 200px;
}

.buy-link-area .buy-link-area-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 3px;
    line-height: 1;
    font-size: 1rem;
    background: #FFF;
    color: #ff8700;
    font-weight: bold;
}

.buy-link-area p {
    margin: 0;
    padding: 0;
}

.product-info-block {
    /*transform: translate3d(0, 0, 0);*/
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    text-align: center;
}

.product-block-header {
    text-align: center;
}

.read-book-caption-button {
    width: 100%;
    padding:  0.1rem;
    transition: .2s ease;

    font-size: 1.1em;
    color: #ff8700;
    background-color: rgba(255,255,255,0.1);
    border: solid 3px #ff8700;
    border-radius: 8px;
    font-weight: bold;
}

.read-book-caption-button:hover {
    color: white;
    background-color: #ff5200;
}

.book-caption-row {
    margin-top: 0.5rem;
}

.book-caption-area {
    display: none;
    position: relative;
    margin-top: 0.8em;
    padding: 0.1em 0.1em;
    border: solid 3px gray;
    border-radius: 4px;
}

.book-caption-area .book-caption-area-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 3px;
    line-height: 1;
    font-size: 1rem;
    background: #FFF;
    color: gray;
    font-weight: bold;
}

.book-caption-area p {
    margin: 0;
    padding: 0;
}

.product-info-heading {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.product-info-heading span {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 2.5em;
    padding: 0 1em;
    background-color: #fff;
    text-align: left;
}

.product-info-heading::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.twitter-reaction-area {
    /*height: 0px;*/
    min-height: 200px;
}

.book-caption {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    position: relative;
    padding: 0.25em 0.25em 0 0.25em;
}
.book-caption:before,.book-caption:after{
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.book-caption:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.book-caption:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.book-caption p {
    margin: 0;
    padding: 0;
}

.accordion-icon {
    width: 100%;
    text-align: right;
    padding-right: 0.5rem;
}

.read-more-text {
    width: 100%;
    position: absolute;
    text-align: center;
}

.relative {
    position: relative;
}

.caption-btn-text {
    width: 100%;
    position: absolute;
    text-align: center;
}

.stat-div {
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.book-caption-accordion .closed {
    width: 100%;
}

.product-detail-icon a {
    z-index: 500;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 1.5rem;
    color: #f5964b;
}

.product-detail-icon a:hover {
    color: #e66600;
}

.twitter-tweet-error {
    display: none;
}

.crown-bg-icon {
    color: yellow;
    font-size: 3rem;

}

.product-block-border {
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 1px #dedede;
    border-radius: 8px;
}

.product-block-border .product-block-border-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    position: absolute;
    display: inline-block;
    top: -0.75rem;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    background: #FFF;

}

.product-block-border p {
    margin: 0;
    padding: 0;
}


.rank-crown-img {
    height: 1.5rem;
    width: auto;
}

.buzz-count-text {
    font-size: 1rem;
    font-weight: initial;
    color: #e66600;
}

.threshold-buzz-count-description {
    text-align: center;
    margin-bottom: 1rem;
}
