<div class="row">
    <div class="col-12">
        <a href="<%= data.productModel.imageUrlBase %>" class="zoomable-image">
            <img src="/img/blank.png" data-src="<%= data.productModel.imageUrlBase %>"
                 class="img-fluid book-img lazyload">
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 mx-auto">
        <div class="buy-link-area mx-auto">
            <span class="buy-link-area-title">購入</span>
            <button type="button" class="btn af-link-button">
                <a href="<%= data.productModel.rakutenAffiliateItemUrl %>" target="_blank"
                   rel="nofollow">
                    <img src="/img/rakuten_logo.png" class="img-fluid af-link-rakuten-logo">
                </a>
            </button>
        </div>
    </div>
</div>
