<div class="row">
    <div class="col-4 product-col">
        <div class="product-info-block">

            <div class="row">
                <div class="col-12">
                    <a href="/product/detail/<%= productData.productModel.productId %>" target="_blank">
                        <img src="/img/blank.png" data-src="<%= productData.productModel.posterUrl %>"
                             class="img-fluid movie-poster-img lazyload">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="col-8">
        <%- include(appRoot + '/views/compact_tweet_list.ejs', { productData: productData, }) %>
    </div>
</div>
