<div class="row">
    <div class="col-4 product-col">
        <div class="product-info-block">

            <div class="row">
                <div class="col-12 affiliate-html">
                    <%- data.productModel.affiliateHtml %>
                </div>
            </div>

        </div>
    </div>

    <div class="col-8">
        <%- include(appRoot + '/views/compact_tweet_list.ejs', { data: data, }) %>
    </div>
</div>
