<div class="row text-align-center">
    <div class="col-12">
        <canvas id="buzz-chart" data-chart-plots="[<%= dataChartPlots %>]"></canvas>
    </div>
    <div class="chart-desc">
        ※ 縦軸
        <a href="#" data-toggle="modal" data-target="#desc-modal">
            Buzzとは？
        </a>
    </div>
</div>
