<div class="row text-align-center">
    <div class="col-12">
        <canvas id="buzz-chart" data-chart-plots="[<%= dataChartPlots %>]"></canvas>
    </div>
    <div class="chart-desc">
        ※Buzzは、データ収集時点から1週間以内にこの商品に関連するツイートを行ったTwitterアカウント数を指す
    </div>
</div>
