<div class="google-ad-block">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ed+6k-30-ac+ty"
     data-ad-client="ca-pub-8140865713225785"
     data-ad-slot="1883455362"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
